/* Xyleme-specific temporary styles */

.custom-note {
    display: inline-block;
    width: 100%;
    padding: 10px;
}

.simple-block {
    float: right;
    width: 85%;
    background-color: rgb(229, 239, 212);
}

.simple-block p {
    padding: 10px;
}

.simple-block code {
    background: inherit;
    border: none;
    margin-bottom: -0.3em;
    line-height: 1.3;
}

.icon {
    float: left;
    width: 15%;
}

.icon img {
    margin: 10px auto;
}

.figure {
    text-align: center
    box-sizing: border-box;
}

.xyleme-table {
    margin-bottom: 20px;
}

.tabs {}

.tab {}

.tab-label {}

.tab-content {}

.footnotes {
    font-size: 0.9em;
    margin-bottom: 4%;
}

.footnote-anchor {
    font-size: 0.8em;
    vertical-align: super;
}

.NoBullet {
    list-style: none;
}

.number-list {
    list-style-type: decimal;
}

.bullet-list {
    list-style-type: default;
}

.border-none {
    border: none;
}

.border-bottom {
    border-bottom: 1px solid #9b9b9b;
}

.horton-green {
    color: rgb(74, 173, 0);
}

.horton-blue {
    color: rgb(61, 105, 178);
}

.small-title {
    font-size: 0.9em;
}

.small {
    font-size: 0.8em;
}

.bold {
    font-weight: 600;
}

.thin {
    font-weight: 200;
}

.italic {
    font-style: italic;
}

.inLine-type-this {
    font-family: monospace;
}
